# Import

In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import math
import datetime
from matplotlib import pyplot as plt

# Aux functions

In [26]:
def plot_returns(initial_money,monthly_expenses,monthly_returns,time_horizon = 12*10):
    df = pd.DataFrame({'Months':np.linspace(0,time_horizon-1,time_horizon)})
    current_date = datetime.datetime.now().replace(hour=0,minute=0,second=0,microsecond=0)
    time_delta = datetime.timedelta(days=30)
    df['Date'] = list(map(lambda x:current_date + x*time_delta,df['Months']))
    def money(n,v=monthly_expenses,x=1+monthly_returns,i=initial_money):
        return x**n*(i-v*((x**n-1)/(x-1)))
    df['Money'] = list(map(lambda x:money(x),df['Months']))
    return df

In [28]:
plot_returns(100,10,.07,10)

   Months       Date       Money
0     0.0 2017-08-13  100.000000
1     1.0 2017-09-12   96.300000
2     2.0 2017-10-12   90.790570
3     3.0 2017-11-11   83.120393
4     4.0 2017-12-11   72.881005
5     5.0 2018-01-10   59.598084
6     6.0 2018-02-09   42.721430
7     7.0 2018-03-11   21.613480
8     8.0 2018-04-10   -4.463892
9     9.0 2018-05-10  -36.364516

In [3]:
time_horizon = 10

In [6]:
datetime.timedelta(days=30)

datetime.timedelta(30)

In [8]:
datetime.datetime.now()

datetime.datetime(2017, 8, 13, 22, 22, 37, 200441)

In [ ]:
pd.DataFrame({'Months':np.linspace(0,time_horizon-1,time_horizon)})

In [ ]:
x = np.linspace(0,10,11)

In [ ]:
x

In [ ]:
pd.DataFrame({'Months':x})