# Imports

In [1]:
import pandas as pd

# Function definition

In [2]:
ackerman_values = {}
def ackerman_value(x,y):
    if x not in ackerman_values.keys():
        ackerman_values[x] = {}
    if y not in ackerman_values[x].keys():
        if x == 0:
            ackerman_values[x][y] = y+1
        elif y == 0:
            ackerman_values[x][y] = ackerman_value(x-1,1)
        else:
            z = ackerman_value(x,y-1)
            ackerman_values[x][y] = ackerman_value(x-1,z)
    return ackerman_values[x][y]

# Toying with values

In [3]:
ackerman_value(2,8)

19

In [4]:
pd.DataFrame(ackerman_values).T

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18
2,3.0,5.0,7.0,9.0,11.0,13.0,15.0,17.0,19.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2.0,3.0,4.0,5.0,6.0,7.0,8.0,9.0,10.0,11.0,12.0,13.0,14.0,15.0,16.0,17.0,18.0,19.0,NaN
0,NaN,2.0,3.0,4.0,5.0,6.0,7.0,8.0,9.0,10.0,11.0,12.0,13.0,14.0,15.0,16.0,17.0,18.0,19.0